@import "tailwindcss";

@custom-variant dark (&:where(.dark , .dark *));

/* For Dark Mode Transitions */
* {
    transition: background-color 0.2s, color 0.2s;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}